Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-09, with the labels that each got.

#89 Implementatie prijsopslag monumenten en nieuwbouw
  README.md
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  pyproject.toml
  scripts/genereer_test_output.py
  taskfile.yml
  tests/data/zelfstandige_woonruimten/input/20004000156.json
  tests/data/zelfstandige_woonruimten/input/23109000031.json
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/test_Keuken.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/beschermd_stadsgezicht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/beschermd_stadsgezicht_bouwjaar_1965.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/beschermd_stadsgezicht_zonder_bouwjaar.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/gemeentelijk_monument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/monumenten_none.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/nieuwbouw.json.disabled
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/rijksmonument_beschermd_stadsgezicht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/rijksmonument_overeenkomst_voor_20240701.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/rijksmonument_zonder_datum_afsluiting_huurovereenkomst.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/beschermd_stadsgezicht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/beschermd_stadsgezicht_bouwjaar_1965.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/beschermd_stadsgezicht_zonder_bouwjaar.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/gemeentelijk_monument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/monumenten_none.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/nieuwbouw.json.disabled
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/rijksmonument_beschermd_stadsgezicht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/rijksmonument_overeenkomst_voor_20240701.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/rijksmonument_zonder_datum_afsluiting_huurovereenkomst.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/test_PrijsopslagMonumentenEnNieuwbouw.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/test_PuntenVoorDeWozWaarde.py
  woningwaardering/stelsels/stelsel.py
  woningwaardering/stelsels/stelselgroep.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_eenheid.py
Labels: documentation, enhancement

#92 Buitenruimten
  .gitignore
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/input/gedeelde_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/input/geen_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/input/te_kleine_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/output/gedeelde_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/output/geen_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/output/te_kleine_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/test_Buitenruimten.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/input/carport.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/output/geen_buitenruimtes.json
  woningwaardering/stelsels/zelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/buitenruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/lookup_tabellen/oppervlakte_punten.csv
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
Labels: documentation, enhancement

#93 Verkoeling en verwarming - ander outputformaat
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/vertrek_verkoeld_en_verwarmd.json
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: enhancement

#95 Bugfix punten woz waarde
  scripts/genereer_test_output.py
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/max_33_procent.json
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
Labels: bug

#98 Gebruiksinstructies in README
  README.md
  woningwaardering/stelsels/__init__.py
Labels: documentation

#99 toevoeging aan README hoe je package kunt gebruiken zonder json
  README.md
  tests/readme/output_json_json_voorbeeld.json
  tests/readme/output_json_python_voorbeeld.json
  tests/readme/test_readme.py
Labels: documentation

#100 Implementatie bijzondere voorzieningen
  README.md
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/input/2_laadpalen.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/input/aanbelfunctie.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/input/zorgwoning.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/2_laadpalen.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/aanbelfunctie.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/zorgwoning.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/test_BijzondereVoorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/bijzondere_voorzieningen/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
  woningwaardering/vera/referentiedata/bouwkundigelementdetailsoort.py
  woningwaardering/vera/referentiedata_uitbreiding.csv
Labels: documentation, enhancement

#101 Rubriek keuken
  README.md
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/keuken_met_drie_voorzieningen.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/keuken_met_maximering_op_voorzieningen.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/keuken_met_twee_koelkasten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/keukenvoorziening_niet_in_keuken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/aanrecht_<1.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/keuken_met_drie_voorzieningen.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/keuken_met_twee_koelkasten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/keukenvoorziening_niet_in_keuken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/test_Keuken.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/input/max_186_punten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/input/max_33_procent.json
  tests/readme/output_json_json_voorbeeld.json
  tests/readme/output_json_python_voorbeeld.json
  tests/readme/test_readme.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_ruimte.py
  woningwaardering/vera/referentiedata/bouwkundigelementdetailsoort.py
Labels: documentation, enhancement

#102 Afronding punten, eindsaldering
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/readme/output_json_json_voorbeeld.json
  tests/readme/output_json_python_voorbeeld.json
  woningwaardering/stelsels/stelsel.py
  woningwaardering/stelsels/zelfstandige_woonruimten/maximale_huurprijzen.csv
Labels: enhancement

#106 Documentatie update voor aankomende release v2.0.0
  README.md
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw.py
Labels: documentation

#112 indentatie stukje gebruik in README
  README.md
Labels: documentation

#113 stukje over pip install toegevoegd
  README.md
Labels: documentation

#116 Verbetering berekening buitenruimten
  README.md
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/readme/output_json_json_voorbeeld.json
  woningwaardering/stelsels/zelfstandige_woonruimten/buitenruimten/buitenruimten.py
Labels: bug, documentation
