Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-08, with the labels that each got.

#77 Feature/stelselgroep refactor
  woningwaardering/stelsels/stelsel.py
  woningwaardering/stelsels/stelselgroep.py
  woningwaardering/stelsels/zelfstandige_woonruimten/beschermd_monument_bmz/beschermd_monument_bmz.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/renovatie/renovatie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/verwarming.py
  woningwaardering/templates/stelsels/stelsel/stelselgroep/stelselgroep.py.j2
Labels: enhancement

#86 Docs/afbeeldingen aanpassen
  README.md
  docs/afbeeldingen/diagram.png
  docs/afbeeldingen/excel_viewer.png
Labels: documentation

#88 Paden naar afbeeldingen corrigeren
  README.md
Labels: documentation, chore

#87 raise not implemented errors + pytest startpunt voor juli 2024
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/conftest.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/input/missend_rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/input/rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/output/missend_rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/output/rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/test_BeschermdMonumentBmz.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/hoogniveau_renovatie_2016-09.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/hoogniveau_renovatie_2016-10.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/hoogniveau_renovatie_2019.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/hoogniveau_renovatie_2020.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/renovatie_2016-09.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/renovatie_2016-10.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/renovatie_2019.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/renovatie_2020.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/input/renovatie_2020_te_lage_investering.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/hoogniveau_renovatie_2016-09.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/hoogniveau_renovatie_2016-10.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/hoogniveau_renovatie_2019.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/hoogniveau_renovatie_2020.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/renovatie_2016-09.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/renovatie_2016-10.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/renovatie_2019.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/renovatie_2020.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/output/renovatie_2020_te_lage_investering.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/renovatie/test_Renovatie.py
  tests/stelsels/test_ZelfstandigeWoonruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/beschermd_monument_bmz/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/beschermd_monument_bmz/beschermd_monument_bmz.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/renovatie/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/renovatie/renovatie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/verwarming.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
Labels: documentation

#90 oppervlakte van vertekken en overige ruimtes (tms-196, tms-197)
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/garage.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/gedeelde_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/gedeelde_vertrek_te_klein_voor_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/toiletteruimte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/toiletteruimte.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/vertrek_wordt_overige_ruimte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/vertrek_wordt_overige_ruimte.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/output/garage.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/output/toiletteruimte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/output/vertrek_wordt_overige_ruimte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/output/zolder_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/badkamer_en_of_toilet_boven_en_onder_0.64.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/gedeeld_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/gedeelde_berging.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/keuken_als_overige_ruimte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/keuken_als_overige_ruimte.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/ruimte_meer_of_minder_dan_4m2.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/zolder_vertrek.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/badkamer_en_of_toilet_boven_en_onder_0.64.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/gedeeld_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/gedeelde_berging.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/keuken_als_overige_ruimte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/ruimte_meer_of_minder_dan_4m2.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/test_PuntenVoorDeWozWaarde.py
  tests/test_utils.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
  woningwaardering/vera/referentiedata/ruimtedetailsoort.py
Labels: documentation, enhancement

#91 Verkoeling en verwarming
  README.md
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  scripts/genereer_test_output.py
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/input/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/input/max_4_punten_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/input/open_keukens.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/input/vertrek_verkoeld_en_verwarmd.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/vertrek_verkoeld_en_verwarmd.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/test_VerkoelingEnVerwarming.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/input/collectief_max_4_punten_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/input/collectief_max_4_punten_overige_ruimten_individueel.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/input/collectief_open_keuken.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/input/individueel_max_4_punten_overige_ruimten_individueel.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/input/individueel_open_keuken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/input/individueel_open_keuken.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/output/collectief_max_4_punten_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verwarming/output/collectief_open_keuken.json
  woningwaardering/stelsels/zelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_ruimte.py
  woningwaardering/vera/referentiedata/__init__.py
  woningwaardering/vera/referentiedata/bouwkundigelementdetailsoort.py
  woningwaardering/vera/referentiedata/installatiesoort.py
  woningwaardering/vera/referentiedata/ruimtedetailsoort.py
  woningwaardering/vera/referentiedata/vastgoed/__init__.py
  woningwaardering/vera/referentiedata_uitbreiding.csv
Labels: documentation, enhancement
