Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-11, with the labels that each got.

#133 Raise warning wanneer eenheid in COROP gebied met speciale berekeningen
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/input/corop.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/corop.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/test_PuntenVoorDeWozWaarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/corop_plaatsen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
Labels: enhancement

#139 cicd pipeline runt nu ook op PRs naar release branches
  .github/workflows/cicd.yml
Labels: chore

#140 cicd pipeline runt nu ook op PRs naar release branches
  .github/workflows/cicd.yml
Labels: chore

#138 parkeerruimte wordt in buitenruimten alleen gewaardeerd indien privé
  woningwaardering/stelsels/zelfstandige_woonruimten/buitenruimten/buitenruimten.py
Labels: bug

#132 Gemeenschappelijke Parkeerruimten Onzelfstandig
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/alle_types_1_keer.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/alle_types_gedeeld_veschillende_bovenliggende_criteriums.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/carport_met_laadpaal_niet_gedeeld.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/logger_warning_parkeergarage_terrein.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/parkeergelegenheid_valt_niet_onder_waardering.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/parkeervak<12m2.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/voorbeeld_beleidsboek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/warning_gedeeld_met_aantal_eenheden.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/input/warning_geen_oppervlakte.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/alle_types_1_keer.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/alle_types_gedeeld_veschillende_bovenliggende_criteriums.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/carport_met_laadpaal_niet_gedeeld.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/logger_warning_parkeergarage_terrein.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/parkeergelegenheid_valt_niet_onder_waardering.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/parkeervak<12m2.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/voorbeeld_beleidsboek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/warning_gedeeld_met_aantal_eenheden.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/warning_geen_oppervlakte.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/test_GemeenschappelijkeParkeerruimtenOnz.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/alle_types_1_keer.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/output/voorbeeld_beleidsboek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/test_GemeenschappelijkeParkeerruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
Labels: documentation, enhancement

#141 Aftrekpunten Onzelfstandig
  README.md
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/aftrekpunten/input/geen_aftrek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/aftrekpunten/input/wel_aftrek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/aftrekpunten/output/geen_aftrek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/aftrekpunten/output/wel_aftrek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/aftrekpunten/test_Aftrekpunten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/aftrekpunten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/aftrekpunten/aftrekpunten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/templates/stelsels/stelsel/stelselgroep/stelselgroep.py.j2
Labels: documentation, enhancement, chore

#142 Bijzondere Voorzieningen Zorgwoning Onzelfstandig
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/input/2_laadpalen.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/input/aanbelfunctie.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/input/zorgwoning.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/2_laadpalen.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/aanbelfunctie.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/zorgwoning.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/test_BijzondereVoorzieningenOnz.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/bijzondere_voorzieningen/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
Labels: documentation, enhancement

#143 Monumenten Onzelfstandig
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/beschermd_stadsgezicht.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/beschermd_stadsgezicht_bouwjaar_1965.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/beschermd_stadsgezicht_zonder_bouwjaar.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/gemeentelijk_monument.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/monumenten_none.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/rijksmonument.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/rijksmonument_beschermd_stadsgezicht.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/rijksmonument_overeenkomst_voor_20240701.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/input/rijksmonument_zonder_datum_afsluiting_huurovereenkomst.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/beschermd_stadsgezicht.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/beschermd_stadsgezicht_bouwjaar_1965.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/beschermd_stadsgezicht_zonder_bouwjaar.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/gemeentelijk_monument.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/monumenten_none.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/rijksmonument.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/rijksmonument_beschermd_stadsgezicht.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/rijksmonument_overeenkomst_voor_20240701.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/output/rijksmonument_zonder_datum_afsluiting_huurovereenkomst.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/test_PrijsopslagMonumenten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/prijsopslag_monumenten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/prijsopslag_monumenten/prijsopslag_monumenten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw.py
  woningwaardering/vera/referentiedata/woningwaarderingstelselgroep.py
  woningwaardering/vera/referentiedata_uitbreiding.csv
Labels: documentation, enhancement

#144 Generieke Woningwaardering class
  README.md
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/data/generiek/input/37101000032.json
  tests/data/generiek/test_Woningwaardering.py
  tests/data/onzelfstandige_woonruimten/input/15004000185.json
  tests/data/zelfstandige_woonruimten/input/12006000004.json
  tests/data/zelfstandige_woonruimten/input/20002000126.json
  tests/data/zelfstandige_woonruimten/input/20004000156.json
  tests/data/zelfstandige_woonruimten/input/23003000050.json
  tests/data/zelfstandige_woonruimten/input/23109000031.json
  tests/data/zelfstandige_woonruimten/input/25048000007.json
  tests/data/zelfstandige_woonruimten/input/28018000044.json
  tests/data/zelfstandige_woonruimten/input/37101000032.json
  tests/data/zelfstandige_woonruimten/input/41027000003.json
  tests/data/zelfstandige_woonruimten/input/41123000005.json
  tests/data/zelfstandige_woonruimten/input/41162000015.json
  tests/data/zelfstandige_woonruimten/input/41164000002.json
  tests/data/zelfstandige_woonruimten/input/51011000042.json
  tests/data/zelfstandige_woonruimten/input/71211000027.json
  tests/data/zelfstandige_woonruimten/input/77795000000.json
  tests/data/zelfstandige_woonruimten/input/81020000003.json
  tests/data/zelfstandige_woonruimten/input/81065000089.json
  tests/data/zelfstandige_woonruimten/input/85651000021.json
  tests/data/zelfstandige_woonruimten/input/87402000003.json
  tests/readme/test_readme.py
  tests/stelsels/test_OnzelfstandigeWoonruimten.py
  woningwaardering/__init__.py
  woningwaardering/_setup.py
  woningwaardering/_woningwaardering.py
  woningwaardering/stelsels/stelsel.py
Labels: documentation, enhancement

#146 Refactor `if __name__ == "__main__":`
  woningwaardering/stelsels/_dev_utils.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/aftrekpunten/aftrekpunten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/prijsopslag_monumenten/prijsopslag_monumenten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/zelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
Labels: documentation, enhancement

#148 Implementatie gemeenschappelijke binnenruimten onzelfstandig
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/zorgwoning.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/input/gedeelde_berging_<2m2.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/input/maximering_verkoelde_en_verwarmde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/input/maximering_verwarmde_overige_ruimten.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/input/voorbeeld_beleidsboek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/input/zorgwoning.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/output/gedeelde_berging_<2m2.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/output/maximering_verkoelde_en_verwarmde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/output/maximering_verwarmde_overige_ruimten.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/output/voorbeeld_beleidsboek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/output/zorgwoning.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/test_GemeenschappelijkeBinnenruimtenGedeeldMetMeerdereAdressenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten_onz.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/output/keuken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/output/verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  woningwaardering/stelsels/onzelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: documentation, enhancement

#151 Feature/verkoeling en verwarming uit main naar refactor branch
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens_onz.json
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/output/keuken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/output/verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens.json
  woningwaardering/stelsels/gedeelde_logica/__init__.py
  woningwaardering/stelsels/gedeelde_logica/verkoeling_en_verwarming/__init__.py
  woningwaardering/stelsels/gedeelde_logica/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: enhancement

#152 buitenruimten onzelfstandig gerefactored
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/input/beleidsboekvoorbeeld.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/output/beleidsboekvoorbeeld.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/output/gedeelde_buitenruimtes_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/output/oprit.json
  woningwaardering/stelsels/onzelfstandige_woonruimten/buitenruimten/buitenruimten.py
Labels: bug, documentation, enhancement

#150 Test voor schuur als vertrek + update implementatietoelichting
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/input/gedeelde_buitenruimtes.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/output/gedeelde_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/schuur_als_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/schuur_als_vertrek.json
Labels: documentation, enhancement
