Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-10, with the labels that each got.

#117 Opzet onzelfstandig woonruimten
  README.md
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  woningwaardering/stelsels/onzelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/buitenruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/energieprestatie/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/keuken/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/maximale_huurprijzen.csv
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_overige_ruimten/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/punten_voor_de_woz_waarde/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/__init__.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: documentation, chore

#118 Oppervlakte van Vertrekken Onzelfstandig
  README.md
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/conftest.py
  tests/data/onzelfstandige_woonruimten/input/15004000185.json
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/gedeelde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/keuken_als_overige_ruimte.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/keuken_als_overige_ruimte.md
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/ruimte_meer_of_minder_dan_4m2.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/ruimte_meer_of_minder_dan_4m2.md
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/zolder_vertrek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/zolder_vertrek.md
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/gedeelde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/keuken_als_overige_ruimte.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/ruimte_meer_of_minder_dan_4m2.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/zolder_vertrek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/test_OppervlakteVanVertrekkenOnz.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_ruimte.py
Labels: documentation, enhancement

#119 Produce github test summary
  .github/workflows/cicd.yml
Labels: chore

#120 Verwijder adresgegevens in repository
  README.md
  tests/data/generiek/input/37101000032.json
  tests/data/onzelfstandige_woonruimten/input/15004000185.json
  tests/data/zelfstandige_woonruimten/input/12006000004.json
  tests/data/zelfstandige_woonruimten/input/12006000004.md
  tests/data/zelfstandige_woonruimten/input/20002000126.json
  tests/data/zelfstandige_woonruimten/input/20004000156.json
  tests/data/zelfstandige_woonruimten/input/23003000050.json
  tests/data/zelfstandige_woonruimten/input/23003000050.md
  tests/data/zelfstandige_woonruimten/input/23109000031.json
  tests/data/zelfstandige_woonruimten/input/25048000007.json
  tests/data/zelfstandige_woonruimten/input/25048000007.md
  tests/data/zelfstandige_woonruimten/input/28018000044.json
  tests/data/zelfstandige_woonruimten/input/28018000044.md
  tests/data/zelfstandige_woonruimten/input/37101000032.json
  tests/data/zelfstandige_woonruimten/input/41027000003.json
  tests/data/zelfstandige_woonruimten/input/41027000003.md
  tests/data/zelfstandige_woonruimten/input/41123000005.json
  tests/data/zelfstandige_woonruimten/input/41162000015.json
  tests/data/zelfstandige_woonruimten/input/41164000002.json
  tests/data/zelfstandige_woonruimten/input/51011000042.json
  tests/data/zelfstandige_woonruimten/input/51011000042.md
  tests/data/zelfstandige_woonruimten/input/71211000027.json
  tests/data/zelfstandige_woonruimten/input/71211000027.md
  tests/data/zelfstandige_woonruimten/input/77795000000.json
  tests/data/zelfstandige_woonruimten/input/81020000003.json
  tests/data/zelfstandige_woonruimten/input/81020000003.md
  tests/data/zelfstandige_woonruimten/input/81065000089.json
  tests/data/zelfstandige_woonruimten/input/81065000089.md
  tests/data/zelfstandige_woonruimten/input/85651000021.json
  tests/data/zelfstandige_woonruimten/input/85651000021.md
  tests/data/zelfstandige_woonruimten/input/87402000003.json
  tests/data/zelfstandige_woonruimten/input/87402000003.md
Labels: documentation, chore

#121 Feature/verkoeling en verwarming onz
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/gedeelde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/input/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/input/max_2_punten_verkoelde_en_verwarmde_vertrekken_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken_onz.json
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: enhancement

#124 Refactor naar gebruik van criteriumsleutels
  README.md
  scripts/genereer_test_output.py
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/gedeelde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/keuken_als_overige_ruimte.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/ruimte_meer_of_minder_dan_4m2.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/zolder_vertrek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens_onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/vertrek_verkoeld_en_verwarmd.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/vertrek_verkoeld_en_verwarmd_onz.json
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/output/keuken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/output/verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_2_punten_verkoelde_en_verwarmde_vertrekken.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/max_4_punten_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/open_keukens.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/output/vertrek_verkoeld_en_verwarmd.json
  tests/readme/output_json_json_voorbeeld.json
  tests/readme/output_json_python_voorbeeld.json
  woningwaardering/stelsels/criteriumsleutels.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/stelselgroep.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: documentation, enhancement

#129 Verbetering berekening spoelbak
  .github/workflows/cicd.yml
  .pre-commit-config.yaml
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/sanitair/input/spoelbak_in_aanrecht_als_wastafel.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/sanitair/output/spoelbak_in_aanrecht_als_wastafel.json
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair.py
Labels: bug, documentation, enhancement

#130 Verbetering berekening spoelbak
  docs/implementatietoelichting-beleidsboeken/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/sanitair/input/spoelbak_in_aanrecht_als_wastafel.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/sanitair/output/spoelbak_in_aanrecht_als_wastafel.json
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair.py
Labels: bug, documentation, enhancement

#131 Doorhaling woonvoorzieningen voor gehandicapten
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
Labels: documentation

#134 Correctie berekening minimale woz-waarde nieuwbouw
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
Labels: bug

#135 Correctie berekening minimale woz-waarde nieuwbouw v2.0.3
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
Labels: bug
