Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-05, with the labels that each got.

#40 Chore/package publishing
  .github/workflows/publish-to-pypi.yml
Labels: chore

#41 Implementatie van berekening punten voor sanitaire voorzieningen in zelfstandige woonruimten (4.7.1)
  docs/implementatietoelichting-beleidsboeken/2024/zelfstandige_woonruimten.md
  tests/data/input/zelfstandige_woonruimten/25048000007.md
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/12006000004.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/23003000050.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/25048000007.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/28018000044.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/37101000032.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/41027000003.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/41123000005.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/41162000015.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/41164000002.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/51011000042.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/71211000027.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/77795000000.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/81020000003.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/81065000089.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/85651000021.json
  tests/data/output/zelfstandige_woonruimten/peildatum/2024-01-01/87402000003.json
  tests/stelsels/stelsel/test_select_geldige_stelselgroepversies.py
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/bad.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/bad_en_douche.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/bidet.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/douche.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/geen_sanitair.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/lavet.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/toilet.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/twee_bad_en_douche.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/input/wastafel.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/bad.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/bad_en_douche.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/bidet.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/douche.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/geen_sanitair.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/lavet.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/toilet.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/twee_bad_en_douche.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/data/output/peildatum/2024-01-01/wastafel.json
  tests/stelsels/zelfstandige_woonruimten/sanitair/test_Sanitair.py
  woningwaardering/stelsels/config/zelfstandige_woonruimten.yml
  woningwaardering/stelsels/stelsel.py
  woningwaardering/stelsels/zelfstandige_woonruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/verwarming_2024.py
  woningwaardering/vera/referentiedata/bouwkundigelementdetailsoort.py
  woningwaardering/vera/referentiedata_uitbreiding.csv
  woningwaardering/vera/utils.py
Labels: documentation, enhancement

#37 update van referentiedata vanuit vera
  woningwaardering/vera/referentiedata/geslacht.py
  woningwaardering/vera/referentiedata/materiaaldetailsoort.py
  woningwaardering/vera/referentiedata/materiaalsoort.py
Labels: chore

#36 genereer test output toegevoegd als task
  taskfile.yml
Labels: chore

#47 betere structuur beleidsboek implementatie voor keuken
  docs/implementatietoelichting-beleidsboeken/2024/zelfstandige_woonruimten.md
Labels: documentation, chore

#43 Verbeteren implementatie beleidsboek
  docs/implementatietoelichting-beleidsboeken/2024/zelfstandige_woonruimten.md
Labels: documentation, chore

#45 uitbreiding referentiedata bidet en lavet toegevoegd aan README
  README.md
Labels: documentation, chore

#44 update in referentiedata adressoort
  woningwaardering/vera/referentiedata/adressoort.py
Labels: chore

#48 Feature/tms 143 keuken loop suggestie
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken_2024.py
Labels: enhancement
