Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-07, with the labels that each got.

#67 Hernoemen stelselgroepversies
  README.md
  docs/afbeeldingen/oppervlakte_van_vertrekken.excalidraw
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/peildatum/2024-01-01/badkamer_en_of_toilet_boven_en_onder_0.64.md
  woningwaardering/stelsels/config/zelfstandige_woonruimten.yml
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/renovatie/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/renovatie/renovatie_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/__init__.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/verwarming_jan_2024.py
Labels: documentation, chore

#68 Beleidsboek tekst juli 2024
  docs/implementatietoelichting-beleidsboeken/2024/jan/zelfstandige_woonruimten.md
  docs/implementatietoelichting-beleidsboeken/2024/jul/zelfstandige_woonruimten.md
Labels: documentation, chore

#72 Missende WOZ-waarden van testeenheden toevoegen
  tests/data/zelfstandige_woonruimten/input/23003000050.json
  tests/data/zelfstandige_woonruimten/input/41027000003.json
  tests/data/zelfstandige_woonruimten/input/41123000005.json
  tests/data/zelfstandige_woonruimten/input/41162000015.json
  tests/data/zelfstandige_woonruimten/input/41164000002.json
  tests/data/zelfstandige_woonruimten/input/81065000089.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/23003000050.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41027000003.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41123000005.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41162000015.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41164000002.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/81065000089.json
Labels: chore

#69 Gemeenschappelijke ruimten en voorzieningen
  docs/implementatietoelichting-beleidsboeken/2024/jan/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/gedeelde_aanrecht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/peildatum/2024-01-01/gedeelde_aanrecht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/gedeelde_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/gedeelde_vertrek_te_klein_voor_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/output/peildatum/2024-01-01/gedeelde_overige_ruimten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/output/peildatum/2024-01-01/gedeelde_vertrek_te_klein_voor_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/input/gedeeld_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/output/peildatum/2024-01-01/gedeeld_vertrek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/input/gedeelde_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/output/peildatum/2024-01-01/gedeelde_buitenruimtes.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/sanitair/input/sanitair_gedeeld.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/sanitair/output/peildatum/2024-01-01/sanitair_gedeeld.json
  woningwaardering/stelsels/stelsel.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
Labels: documentation, enhancement

#70 Update referentiedata en readme
  README.md
  woningwaardering/vera/referentiedata/__init__.py
  woningwaardering/vera/referentiedata/bouwkundigelementdetailsoort.py
  woningwaardering/vera/referentiedata/grootboekmutatieherkomst.py
  woningwaardering/vera/referentiedata/pandsoort.py
  woningwaardering/vera/referentiedata/ruimtedetailsoort.py
  woningwaardering/vera/referentiedata/vastgoed/__init__.py
  woningwaardering/vera/referentiedata_uitbreiding.csv
Labels: documentation, chore

#73 Feature/tms 191 logger guidelines implementeren
  README.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/input/missend_rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/output/peildatum/2024-01-01/missend_rijksmonument.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/beschermd_monument_bmz/test_BeschermdMonumentBmz.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/aanrecht_zonder_lengte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/keuken_zonder_aanrecht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/peildatum/2024-01-01/keuken_zonder_aanrecht.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/test_Keuken.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/input/hoogniveau_renovatie_label_pre_2015.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/test_PuntenVoorDeWozWaarde.py
  tests/test_utils.py
  woningwaardering/__init__.py
  woningwaardering/stelsels/stelselgroep.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/beschermd_monument_bmz/beschermd_monument_bmz.py
  woningwaardering/stelsels/zelfstandige_woonruimten/beschermd_monument_bmz/beschermd_monument_bmz_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw_jul_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/renovatie/renovatie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/renovatie/renovatie_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/verwarming_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/zelfstandige_woonruimten.py
Labels: documentation, enhancement

#79 Feature/stadswonen testdata
  tests/data/zelfstandige_woonruimten/input/20002000126.json
  tests/data/zelfstandige_woonruimten/input/20002000126.md
  tests/data/zelfstandige_woonruimten/input/20004000156.json
  tests/data/zelfstandige_woonruimten/input/20004000156.md
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-05-01/20002000126.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-05-01/20004000156.json
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken_jan_2024.py
Labels: documentation, enhancement

#80 Verwijderen dubbele import
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde_jan_2024.py
Labels: enhancement

#81 Gebruik energie-index voor oude labels na 1-1-2015
  tests/data/zelfstandige_woonruimten/input/20004000156.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-05-01/81020000003.json
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie_jan_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/lookup_tabellen/oud_energielabel_punten.csv
Labels: enhancement

#83 readme status update
  README.md
Labels: documentation, chore

#84 readme status zelfstandig
  README.md
Labels: documentation, chore
