Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-06, with the labels that each got.

#49 Verbeteren package publishing
  .github/release.yml
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
  taskfile.yml
  woningwaardering/vera/bvg/generated.py
Labels: chore

#54 readme afbeeldingen via github web adres
  README.md
Labels: documentation, chore

#55 added badges to readme
  README.md
Labels: documentation, chore

#52 Energieprestatievergoeding implementatie volgens VERA standaard
  docs/implementatietoelichting-beleidsboeken/2024/zelfstandige_woonruimten.md
  tests/data/generiek/input/37101000032.json
  tests/data/zelfstandige_woonruimten/input/23003000050.json
  tests/data/zelfstandige_woonruimten/input/25048000007.json
  tests/data/zelfstandige_woonruimten/input/37101000032.json
  tests/data/zelfstandige_woonruimten/input/41027000003.json
  tests/data/zelfstandige_woonruimten/input/41123000005.json
  tests/data/zelfstandige_woonruimten/input/41162000015.json
  tests/data/zelfstandige_woonruimten/input/41164000002.json
  tests/data/zelfstandige_woonruimten/input/51011000042.json
  tests/data/zelfstandige_woonruimten/input/71211000027.json
  tests/data/zelfstandige_woonruimten/input/77795000000.json
  tests/data/zelfstandige_woonruimten/input/81020000003.json
  tests/data/zelfstandige_woonruimten/input/81065000089.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/energieprestatie/input/eenheid_A++++_egw.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/energieprestatie/input/eenheid_epv_egw.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/energieprestatie/input/eenheid_epv_mgw.json
  woningwaardering/stelsels/stelselgroepversie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verwarming/verwarming_2024.py
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_energieprestatie.py
Labels: documentation, enhancement

#53 Gebruiksoppervlakte thermische zone implementatie volgens VERA standaard
  README.md
  docs/implementatietoelichting-beleidsboeken/2024/zelfstandige_woonruimten.md
  scripts/uitbreiden_vera_modellen.py
  tests/data/zelfstandige_woonruimten/input/81065000089.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/81065000089.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/energieprestatie/input/eenheid_A++++_egw.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/energieprestatie/output/peildatum/2024-01-01/eenheid_A++++_egw.json
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie_2024.py
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_eenheid.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_energieprestatie.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_oppervlakte.py
Labels: documentation, enhancement

#56 Contactpersoon updaten README
  README.md
Labels: documentation

#50 schuur toegevoegd aan waardering voor overige ruimtes
  docs/implementatietoelichting-beleidsboeken/2024/zelfstandige_woonruimten.md
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
Labels: bug, documentation

#58 Refactor van keuken waardering zodat logging beter klopt
  tests/data/zelfstandige_woonruimten/input/41123000005.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41123000005.json
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken_2024.py
  woningwaardering/vera/utils.py
Labels: bug

#60 Berekenen maximale huurprijs
  scripts/genereer_test_output.py
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/12006000004.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/23003000050.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/25048000007.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/28018000044.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/37101000032.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41027000003.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41123000005.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41162000015.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/41164000002.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/51011000042.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/71211000027.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/77795000000.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/81020000003.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/81065000089.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/85651000021.json
  tests/data/zelfstandige_woonruimten/output/peildatum/2024-01-01/87402000003.json
  woningwaardering/stelsels/stelsel.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/maximale_huurprijzen.csv
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/woningwaardering_resultaten_woningwaardering.py
  woningwaardering/vera/bvg/model_uitbreidingen/woningwaardering_resultaten_woningwaardering_groep.py
  woningwaardering/vera/bvg/model_uitbreidingen/woningwaardering_resultaten_woningwaardering_resultaat.py
Labels: enhancement

#62 Parkeervoorzieningen niet (meer) ondersteunen
  docs/implementatietoelichting-beleidsboeken/2024/zelfstandige_woonruimten.md
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/input/parkeervoorzieningen.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/output/peildatum/2024-01-01/parkeervoorzieningen.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/input/carport.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/input/gemeenschappelijke_parkeerruimte_niet_specifieke_plek.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/output/peildatum/2024-01-01/carport.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prive_buitenruimten/output/peildatum/2024-01-01/gemeenschappelijke_parkeerruimte_niet_specifieke_plek.json
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prive_buitenruimten/prive_buitenruimten_2024.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
  woningwaardering/vera/referentiedata/meeteenheid.py
  woningwaardering/vera/referentiedata/ruimtedetailsoort.py
  woningwaardering/vera/referentiedata_uitbreiding.csv
Labels: documentation, enhancement

#63 update van referentiedata
  woningwaardering/vera/referentiedata/__init__.py
  woningwaardering/vera/referentiedata/geslacht.py
  woningwaardering/vera/referentiedata/kwaliteit/__init__.py
  woningwaardering/vera/referentiedata/kwaliteitsmetingverzoeksoort.py
  woningwaardering/vera/referentiedata/vastgoed/__init__.py
  woningwaardering/vera/referentiedata/vragenlijstregelonderwerpsoort.py
Labels: enhancement

#66 tuin en parkeervoorzieningen verwijderd uit README m.b.t. uitbreiding referentiedata
  README.md
Labels: documentation
