Repository woonstadrotterdam/woningwaardering, pull requests merged in 2024-12, with the labels that each got.

#154 refactor: Decimal en afronding
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/readme/output_json_json_voorbeeld.json
  woningwaardering/stelsels/gedeelde_logica/keuken/keuken.py
  woningwaardering/stelsels/gedeelde_logica/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/gedeelde_logica/sanitair/sanitair.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/aftrekpunten/aftrekpunten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/zelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: enhancement

#155 Verbetering logging, output `Buitenruimten` zelfstandig, en wat extra refactoring
  README.md
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/output/gedeelde_buitenruimtes.json
  tests/readme/output_json_json_voorbeeld.json
  woningwaardering/_logging.py
  woningwaardering/stelsels/_dev_utils.py
  woningwaardering/stelsels/gedeelde_logica/keuken/keuken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/aftrekpunten/aftrekpunten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/prijsopslag_monumenten/prijsopslag_monumenten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/bijzondere_voorzieningen/bijzondere_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/buitenruimten/buitenruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen.py
  woningwaardering/stelsels/zelfstandige_woonruimten/keuken/keuken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_overige_ruimten/oppervlakte_van_overige_ruimten.py
  woningwaardering/stelsels/zelfstandige_woonruimten/oppervlakte_van_vertrekken/oppervlakte_van_vertrekken.py
  woningwaardering/stelsels/zelfstandige_woonruimten/prijsopslag_monumenten_en_nieuwbouw/prijsopslag_monumenten_en_nieuwbouw.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/zelfstandige_woonruimten/verkoeling_en_verwarming/verkoeling_en_verwarming.py
Labels: bug, documentation, enhancement

#156 Refactor van pytest-code
  tests/data/onzelfstandige_woonruimten/stelselgroepen/aftrekpunten/test_Aftrekpunten.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/test_BijzondereVoorzieningenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/test_BuitenruimtenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/energieprestatie/test_EnergieprestatieOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/test_GemeenschappelijkeBinnenruimtenGedeeldMetMeerdereAdressenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/test_GemeenschappelijkeParkeerruimtenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/keuken/test_KeukenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/test_OppervlakteVanOverigeRuimtenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/test_OppervlakteVanVertrekkenOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten/test_PrijsopslagMonumenten.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/test_PuntenVoorDeWozWaardeOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/sanitair/test_SanitairOnz.py
  tests/data/onzelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/test_VerkoelingEnVerwarmingOnz.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/test_BijzondereVoorzieningen.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/test_Buitenruimten.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/energieprestatie/test_Energieprestatie.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_parkeerruimten/test_GemeenschappelijkeParkeerruimten.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_vertrekken_overige_ruimten_en_voorzieningen/test_GemeenschappelijkeVertrekkenOverigeRuimtenEnVoorzieningen.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/test_Keuken.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_overige_ruimten/test_OppervlakteVanOverigeRuimten.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/oppervlakte_van_vertrekken/test_OppervlakteVanVertrekken.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/test_PrijsopslagMonumentenEnNieuwbouw.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/test_PuntenVoorDeWozWaarde.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/sanitair/test_Sanitair.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/verkoeling_en_verwarming/test_VerkoelingEnVerwarming.py
  tests/utils.py
Labels: enhancement, chore

#157 Betere error-handling bij gebruik look-up tables
  woningwaardering/stelsels/onzelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/utils.py
  woningwaardering/stelsels/zelfstandige_woonruimten/energieprestatie/energieprestatie.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
Labels: bug, enhancement

#158 fix gemeenschappelijke binnenruimten (sanitair)
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/input/voorbeeld_beleidsboek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/output/voorbeeld_beleidsboek.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/sanitair/output/maximering_wastafels_7onz.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/sanitair/output/maximering_wastafels_8_onz.json
  woningwaardering/stelsels/gedeelde_logica/keuken/keuken.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen/gemeenschappelijke_binnenruimten_gedeeld_met_meerdere_adressen.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/onzelfstandige_woonruimten.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/sanitair.py
Labels: bug

#159 Voornamelijk verbeteren logging
  woningwaardering/stelsels/gedeelde_logica/gemeenschappelijke_parkeerruimten/gemeenschappelijke_parkeerruimten.py
  woningwaardering/stelsels/gedeelde_logica/keuken/keuken.py
  woningwaardering/stelsels/gedeelde_logica/sanitair/sanitair.py
  woningwaardering/stelsels/gedeelde_logica/verkoeling_en_verwarming/verkoeling_en_verwarming.py
  woningwaardering/stelsels/onzelfstandige_woonruimten/sanitair/sanitair.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/utils.py
Labels: enhancement

#153 Kleine bugfixes
  woningwaardering/stelsels/gedeelde_logica/sanitair/sanitair.py
Labels: bug

#162 Test som van bovenliggend criterium
  tests/data/generiek/test_Woningwaardering.py
  tests/utils.py
  woningwaardering/stelsels/utils.py
Labels: enhancement, chore

#163 Verbetering punten voor de woz waarde
  README.md
  tests/data/zelfstandige_woonruimten/output/12006000004.json
  tests/data/zelfstandige_woonruimten/output/20002000126.json
  tests/data/zelfstandige_woonruimten/output/20004000156.json
  tests/data/zelfstandige_woonruimten/output/23003000050.json
  tests/data/zelfstandige_woonruimten/output/23109000031.json
  tests/data/zelfstandige_woonruimten/output/25048000007.json
  tests/data/zelfstandige_woonruimten/output/28018000044.json
  tests/data/zelfstandige_woonruimten/output/37101000032.json
  tests/data/zelfstandige_woonruimten/output/41027000003.json
  tests/data/zelfstandige_woonruimten/output/41123000005.json
  tests/data/zelfstandige_woonruimten/output/41162000015.json
  tests/data/zelfstandige_woonruimten/output/41164000002.json
  tests/data/zelfstandige_woonruimten/output/51011000042.json
  tests/data/zelfstandige_woonruimten/output/71211000027.json
  tests/data/zelfstandige_woonruimten/output/77795000000.json
  tests/data/zelfstandige_woonruimten/output/81020000003.json
  tests/data/zelfstandige_woonruimten/output/81065000089.json
  tests/data/zelfstandige_woonruimten/output/85651000021.json
  tests/data/zelfstandige_woonruimten/output/87402000003.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/hoogniveau_renovatie_label.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/hoogniveau_renovatie_label_post_2021.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/hoogniveau_renovatie_label_pre_2015.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/hoogniveau_renovatie_waarde.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/max_186_punten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/max_33_procent.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/minimum_woz_waarde.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/punten_voor_de_woz_waarde/output/nieuwbouw.json
  tests/readme/output_json_json_voorbeeld.json
  tests/readme/output_json_python_voorbeeld.json
  woningwaardering/stelsels/onzelfstandige_woonruimten/punten_voor_de_woz_waarde/lookup_tabellen/corop_gebied_gemiddelde_woz_waarde_per_m2.csv
  woningwaardering/stelsels/onzelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/lookup_tabellen/minimum_woz_waarde.csv
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/lookup_tabellen/woz_factor.csv
  woningwaardering/stelsels/zelfstandige_woonruimten/punten_voor_de_woz_waarde/punten_voor_de_woz_waarde.py
Labels: documentation, enhancement

#166 Gebruik monumenten-package i.p.v. losse queries
  pyproject.toml
  woningwaardering/stelsels/utils.py
Labels: enhancement

#169 Voorbeeld-afbeelding output in README
  README.md
  docs/afbeeldingen/voorbeeld_output.jpg
Labels: documentation, chore

#170 Wijzigingen onzelfstandig versie januari 2025
  docs/implementatietoelichting-beleidsboeken/onzelfstandige_woonruimten.md
  tests/data/onzelfstandige_woonruimten/output/15004000185.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/bijzondere_voorzieningen/output/zorgwoning.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/output/gedeelde_oprit.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/output/geen_buitenruimtes.json
  woningwaardering/stelsels/onzelfstandige_woonruimten/buitenruimten/buitenruimten.py
Labels: documentation, enhancement

#172 extra tests
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/input/maximering.json
  tests/data/onzelfstandige_woonruimten/stelselgroepen/buitenruimten/output/maximering.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/input/maximering.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/buitenruimten/output/maximering.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/2_aanrechten_waarvan_1_geen_detailsoort.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/input/2_aanrechten_waarvan_1_geen_lengte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/2_aanrechten_waarvan_1_geen_detailsoort.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/output/2_aanrechten_waarvan_1_geen_lengte.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/keuken/test_Keuken.py
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/input/nieuwbouw_150_punten.json
  tests/data/zelfstandige_woonruimten/stelselgroepen/prijsopslag_monumenten_en_nieuwbouw/output/nieuwbouw_150_punten.json
Labels: chore

#173 voeg uitbreinding toe aan beschrijving
  taskfile.yml
  woningwaardering/vera/referentiedata/ruimtedetailsoort.py
  woningwaardering/vera/referentiedata/ruimtesoort.py
  woningwaardering/vera/referentiedata/woningwaarderingstelselgroep.py
  woningwaardering/vera/referentiedata_uitbreiding.csv
Labels: chore

#174 README update
  README.md
  woningwaardering/vera/bvg/generated.py
  woningwaardering/vera/bvg/model_uitbreidingen/eenheden_ruimte.py
Labels: documentation, enhancement
